<!DOCTYPE html>
<html>

<!-- head -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
<link rel="stylesheet" href="{{ "/css/bulma.min.css" | relative_link }}">
<link rel="stylesheet" href="{{ "/css/all.min.css" | relative_link }}">
<link rel="stylesheet" href="{{ "/css/custom.css" | relative_link }}">
</head>

<!-- body -->
<body>

<!-- header-->
{% include header.html %}

<section class="section">
<div class="container">

{%- assign category = site.collections | where: 'label', page.collection | first -%}
<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li><a href="/guides/">Guides</a></li>
    <li><a href="/guides/{{ category.label }}/">{{ category.title }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
  </ul>
</nav>

<div class="content">

<h1>{{ page.title }}</h1>

{%- if page.blurb %}
{{ page.blurb }}
{% endif -%}

{%- if page.assignments %}
<p>
  <span class="heading">Associated Assignments</span>
  {%- for item in page.assignments %}
  {%- if item.link %}
  <a href="{{ item.link }}">{{ item.text }}</a> {{ item.info }}
  {% else %}
  <span class="has-text-grey">{{ item.text }} {{ item.info }}</span>
  {% endif -%}
  {%- unless forloop.last %}<br/>{% endunless -%}
  {% endfor -%}
</p>
{% endif -%}

{{ content }}

</div>
</div>
</section>

<!-- footer -->
{% include footer.html %}

<!-- end -->
</body>
</html>
